[Bb]in/
[Oo]bj/
[Oo]ut/
publish/
*.user
*.suo
*.userosscache
*.sln.docstates

.vs/
.vscode/
.idea/
*.swp
*.*~
project.lock.json
.config/
*.log

*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
packages/
!**/packages/build/
*.nuget/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride


.env
.env.local
.env.*.local
*.secret
appsettings.Production.json
appsettings.Staging.json

!appsettings.json
!appsettings.Development.json